@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
:root {
  --clr-dark: #0b0d17;
  --clr-light: #d0d6f9;
  --clr-white: #ffffff;
  --ff-accent: "Barlow", sans-serif;
  --ff-body: "Barlow Condensed", sans-serif;
  --ff-heading: "Bellefair", serif;
  --fs-100: 0.875rem;
  --fs-150: 1rem;
  --fs-200: 1.75rem;
  --fs-250: 2rem;
  --fs-300: 3.5rem;
  --fs-400: 6.25rem;
  --fs-600: 5rem;
  --lt-spacing-100: 0.146875rem;
  --lt-spacing-150: 0.16875rem;
  --lt-spacing-200: 0.296875rem;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, select {
  border: none;
  background-color: none;
  outline: none;
}

body > * {
  min-height: 100vh;
  font-family: var(--ff-body);
  color: var(--clr-light);
  overflow-x: hidden;
}

.home {
  position: relative;
  background: url("../assets/home/background-home-mobile.jpg") no-repeat center/cover;
  text-align: center;
}
.home main {
  padding: 1rem;
  display: grid;
  gap: 7rem;
  min-height: 100%;
  margin-top: 1rem;
}
.home main .content {
  display: grid;
  gap: 2rem;
}
.home main .content .intro {
  text-transform: uppercase;
  font-size: var(--fs-150);
  letter-spacing: var(--lt-spacing-150);
}
.home main .content .intro-accent {
  font-family: var(--ff-heading);
  text-transform: uppercase;
  font-size: var(--fs-600);
  color: var(--clr-white);
}
.home main .content .intro-description {
  --text-width: 327px;
  line-height: 1.3;
  margin: auto;
  font-size: var(--fs-150);
  width: var(--text-width);
  font-family: var(--ff-accent);
}
.home main button {
  cursor: pointer;
  --width: 9.375rem;
  width: var(--width);
  aspect-ratio: 1/1;
  margin: 0 auto;
  border-radius: 50%;
  color: var(--clr-dark);
  background-color: var(--clr-white);
  font-size: 20px;
  font-family: var(--ff-heading);
  text-transform: uppercase;
  transition: outline-color 0.4s ease-in-out;
  outline: calc(var(--width) / 4) solid transparent;
}
.home main button:hover {
  outline-color: rgba(11, 13, 23, 0.8);
}
@media (min-width: 768px) {
  .home {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
  .home main .content .intro {
    --fs-150: 20px;
  }
  .home main .content .intro-accent {
    --fs-600: 150px;
  }
  .home main .content .intro-description {
    --text-width: 444px;
  }
  .home main button {
    --width: 242px;
    font-size: 32px;
  }
}
@media (min-width: 1440px) {
  .home {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
  .home main {
    margin: auto;
    max-width: 1170px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding-top: 10rem;
  }
  .home main .content .intro {
    --fs-150: 28px;
  }
  .home main .content .intro-accent {
    --fs-600: 150px;
  }
  .home main .content .intro-description {
    --text-width: 444px;
    --fs-150: 18px;
    letter-spacing: 2.7px;
    margin: 0;
  }
  .home main button {
    --width: 242px;
    font-size: 32px;
    display: block;
    margin-right: 0;
    margin-top: 25%;
  }
}

.destination {
  position: relative;
  background: url("../assets/destination/background-destination-mobile.jpg") no-repeat center/cover;
  text-align: center;
}
.destination .columns {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}
.destination .columns .intro {
  text-transform: uppercase;
  font-size: var(--fs-150);
  letter-spacing: var(--lt-spacing-150);
  color: var(--clr-ligh);
}
.destination .columns .intro span {
  color: #4e5057;
}
.destination .columns .col-1 {
  margin: auto;
  width: 170px;
}
.destination .columns .col-2 .tabs ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: uppercase;
  padding: 0rem 2rem 1.5rem;
  color: var(--clr-light);
  font-family: var(--ff-body);
  font-size: var(--fs-100);
  font-weight: 400;
}
.destination .columns .col-2 .tabs ul li {
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding: 0.3rem 0;
  transition: border-color 0.3s ease;
}
.destination .columns .col-2 .tabs ul li:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
.destination .columns .col-2 .tabs ul li[data-active=true] {
  color: white;
  border-color: white;
}
.destination .columns .col-2 .destination-name {
  font-family: var(--ff-heading);
  text-transform: uppercase;
  font-size: var(--fs-600);
  color: var(--clr-white);
}
.destination .columns .col-2 .destination-description {
  --text-width: 327px;
  line-height: 1.3;
  margin: auto;
  font-size: var(--fs-150);
  width: var(--text-width);
  font-family: var(--ff-accent);
  border-bottom: 1px solid #383b4b;
  --spacer: 2rem;
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer);
}
.destination .columns .col-2 .info {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 1.5rem;
}
.destination .columns .col-2 .info .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.destination .columns .col-2 .info .data .title {
  text-transform: uppercase;
  letter-spacing: var(--lt-spacing-100);
  color: var(--clr-light);
  font-family: var(--ff-body);
  font-size: var(--fs-100);
  font-weight: 400;
}
.destination .columns .col-2 .info .data .value {
  font-family: var(--ff-heading);
  text-transform: uppercase;
  font-size: var(--fs-200);
  color: var(--clr-white);
  font-weight: 400;
}
@media (min-width: 768px) {
  .destination {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
  .destination main .columns .intro {
    text-align: left;
    font-size: 20px;
  }
  .destination main .columns .col-1 {
    width: 300px;
  }
  .destination main .columns .col-2 .tabs ul {
    font-size: var(--fs-150);
    gap: 3.2rem;
  }
  .destination main .columns .col-2 .destination-description {
    --text-width: 573px;
    margin: 1.3rem auto 0;
    --spacer: 2.4rem;
    margin-bottom: var(--spacer);
  }
  .destination main .columns .col-2 .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }
}
@media (min-width: 1440px) {
  .destination {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }
  .destination main .columns {
    max-width: 1170px;
    margin: auto;
  }
  .destination main .columns .grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
  .destination main .columns .grid .col-1 {
    width: 445px;
  }
  .destination main .columns .grid .col-2 {
    text-align: left;
  }
  .destination main .columns .grid .col-2 .tabs ul {
    justify-content: start;
    padding: 1rem 0;
    gap: 1.2rem;
  }
  .destination main .columns .grid .col-2 .destination-name {
    font-size: 100px;
  }
  .destination main .columns .grid .col-2 .destination-description {
    --spacer: 3rem;
    margin: 1rem 0 var(--spacer);
    width: 444px;
    line-height: 1.7;
  }
  .destination main .columns .grid .col-2 .info {
    justify-content: start;
  }
  .destination main .columns .grid .col-2 .info .data {
    align-items: start;
  }
}

.crew {
  position: relative;
  background: url("../assets/crew/background-crew-mobile.jpg") no-repeat center/cover;
  text-align: center;
}
@media (min-width: 1140px) {
  .crew {
    background: url("../assets/crew/background-crew-desktop.jpg") no-repeat center/cover;
  }
}
@media (min-width: 768px) {
  .crew {
    background: url("../assets/crew/background-crew-tablet.jpg") no-repeat center/cover;
  }
}
.crew .container .columns {
  padding: 1rem;
}
.crew .container .columns .intro {
  text-transform: uppercase;
  font-size: var(--fs-150);
  letter-spacing: var(--lt-spacing-150);
  color: var(--clr-ligh);
}
.crew .container .columns .intro span {
  color: #4e5057;
}
.crew .container .columns .grid {
  display: grid;
  margin-top: 3rem;
  gap: 2rem;
}
.crew .container .columns .grid .col-1 {
  display: grid;
  gap: 2rem;
}
.crew .container .columns .grid .col-1 .content .crew-charge {
  font-family: var(--ff-heading);
  text-transform: uppercase;
  font-size: var(--fs-150);
  color: #979797;
  margin-bottom: 1rem;
}
.crew .container .columns .grid .col-1 .content .crew-name {
  font-family: var(--ff-heading);
  text-transform: uppercase;
  font-size: var(--fs-200);
  color: var(--clr-white);
}
.crew .container .columns .grid .col-1 .content .crew-description {
  --text-width: 400px;
  line-height: 25px;
  margin: auto;
  font-size: var(--fs-150);
  width: var(--text-width);
  font-family: var(--ff-accent);
  border-bottom: 1px solid #383b4b;
  --spacer: 2rem;
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer);
  margin-top: var(--spacer);
}
.crew .container .columns .grid .col-1 .tabs {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.crew .container .columns .grid .col-1 .tabs li {
  cursor: pointer;
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #717171;
  transition: background-color 0.3s ease-in-out;
}
.crew .container .columns .grid .col-1 .tabs li:hover {
  background-color: #979797;
}
.crew .container .columns .grid .col-1 .tabs li[data-active-crew=true] {
  background-color: white;
}
.crew .container .columns .grid .col-2 {
  grid-row: 1;
}
.crew .container .columns .grid .col-2 img {
  width: 177px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .crew .container .columns .intro {
    text-align: left;
  }
  .crew .container .columns .grid .col-1 {
    grid-row: 1;
    gap: 0;
  }
  .crew .container .columns .grid .col-1 .tabs {
    grid-row: auto;
  }
  .crew .container .columns .grid .col-1 .content .crew-charge {
    font-size: 24px;
  }
  .crew .container .columns .grid .col-1 .content .crew-name {
    font-size: 40px;
  }
  .crew .container .columns .grid .col-1 .content .crew-description {
    width: 458px;
  }
  .crew .container .columns .grid .col-2 {
    grid-row: 2;
  }
  .crew .container .columns .grid .col-2 img {
    width: 456px;
  }
}
@media (min-width: 1440px) {
  .crew .container .columns {
    max-width: 1170px;
    margin: auto;
  }
  .crew .container .columns .intro {
    font-size: 28px;
  }
  .crew .container .columns .grid {
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    gap: 4rem;
  }
  .crew .container .columns .grid .col {
    grid-row: unset;
    place-content: center;
  }
  .crew .container .columns .grid .col.col-1 .content {
    text-align: left;
    margin-bottom: 2rem;
  }
  .crew .container .columns .grid .col.col-1 .content .crew-charge {
    font-size: 32px;
  }
  .crew .container .columns .grid .col.col-1 .content .crew-name {
    font-size: 56px;
  }
  .crew .container .columns .grid .col.col-1 .content .crew-description {
    margin-inline: 0;
    font-size: 18px;
    width: 444px;
  }
  .crew .container .columns .grid .col.col-1 .tabs {
    justify-content: start;
  }
  .crew .container .columns .grid .col.col-2 {
    width: 568px;
  }
}

.technology {
  position: relative;
  background: url("../assets/technology/background-technology-mobile.jpg") no-repeat center/cover;
}
.technology .container .columns {
  text-align: center;
}
.technology .container .columns .intro {
  text-transform: uppercase;
  font-size: var(--fs-150);
  letter-spacing: var(--lt-spacing-150);
  color: var(--clr-light);
}
.technology .container .columns .intro span {
  color: #4e5057;
}
.technology .container .columns .grid {
  display: grid;
  margin-top: 2rem;
}
.technology .container .columns .grid .col-1 {
  --circle-size: 40px;
  grid-row: 2;
}
.technology .container .columns .grid .col-1 .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem 0 1.2rem;
}
.technology .container .columns .grid .col-1 .tabs li {
  display: grid;
  place-content: center;
  width: var(--circle-size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #373951;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.technology .container .columns .grid .col-1 .tabs li:hover {
  border-color: var(--clr-light);
}
.technology .container .columns .grid .col-1 .tabs li[data-active-technology=true] {
  background-color: white;
  color: #0b0d17;
}
.technology .container .columns .grid .col-1 .content {
  --tech-name-size: 24px;
  --terminology-size: 14px;
  --tecgh-description-size: 15px;
  --text-width: 400px;
  --line-spacer: 25px;
}
.technology .container .columns .grid .col-1 .content .terminology {
  font-family: var(--ff-heading);
  text-transform: uppercase;
  font-size: var(--terminology-size);
  color: #979797;
  margin-bottom: 1rem;
}
.technology .container .columns .grid .col-1 .content .tech-name {
  font-family: var(--ff-heading);
  text-transform: uppercase;
  font-size: var(--tech-name-size);
  color: var(--clr-white);
}
.technology .container .columns .grid .col-1 .content .tech-description {
  line-height: 25px;
  margin: auto;
  font-size: var(--tecgh-description-size);
  max-width: var(--text-width);
  font-family: var(--ff-accent);
  line-height: var(--line-spacer);
  border-bottom: 1px solid #383b4b;
  --spacer: 1.2rem;
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer);
  margin-top: var(--spacer);
}
.technology .container .columns .grid .col-2 img {
  width: 100%;
}
@media (min-width: 768px) {
  .technology .container {
    background: url("../assets/technology/background-technology-tablet.jpg") no-repeat center/cover;
  }
  .technology .container .columns .intro {
    padding: 1rem;
    text-align: left;
  }
  .technology .container .columns .grid .col-1 {
    --circle-size: 63px;
  }
  .technology .container .columns .grid .col-1 .content {
    --tech-name-size: 40px;
    --terminology-size: 16px;
    --tecgh-description-size: 16px;
    --text-width: 458px;
    --line-spacer: 28px;
  }
}
@media (min-width: 1140px) {
  .technology .container {
    background: url("../assets/technology/background-technology-desktop.jpg") no-repeat center/cover;
  }
  .technology .container .columns .intro {
    font-size: 28px;
    margin-left: 5rem;
  }
  .technology .container .columns .grid {
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    gap: 4rem;
  }
  .technology .container .columns .grid .col {
    grid-row: unset;
    place-content: center;
    height: 527px;
  }
  .technology .container .columns .grid .col.col-1 {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .technology .container .columns .grid .col.col-1 .tabs {
    flex-direction: column;
    gap: 2.3rem;
  }
  .technology .container .columns .grid .col.col-1 .content {
    --tech-name-size: 56px;
    --terminology-size: 16px;
    --tecgh-description-size: 18px;
    --text-width: 444px;
    --line-spacer: 32px;
  }
  .technology .container .columns .grid .col.col-1 .content .tech-description {
    margin-inline: 0;
  }
  .technology .container .columns .grid .col.col-2 {
    display: flex;
    justify-content: end;
  }
  .technology .container .columns .grid .col.col-2 img {
    width: 527px;
    max-height: 527px;
  }
}

.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 96px;
  font-size: var(--fs-150);
}
.header .header__nav {
  display: none;
}
.header .header__nav.mobile {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  right: -200%;
  width: 18rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  transition: right 0.3s ease-in-out;
  /* Note: backdrop-filter has minimal browser support */
}
.header .header__nav.mobile.active {
  right: 0;
}
.header .header__nav.mobile ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: self-start;
  padding: 4rem 5rem 0 2rem;
  margin-top: 2rem;
}
.header .header__nav.mobile ul li {
  text-transform: uppercase;
}
.header .header__nav.mobile ul li .number {
  color: var(--clr-white);
  margin-right: 1.3rem;
  font-size: var(--fs-150);
}
.header .nav-button {
  width: 21px;
  aspect-ratio: 1;
  background: url("../assets/shared/icon-hamburger.svg");
  z-index: 3000;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 0 0 2.4375rem;
  }
  .header .header__nav {
    display: unset;
    padding: 0 7rem;
    background-color: rgba(255, 255, 255, 0.04);
  }
  .header .header__nav.mobile {
    display: none;
  }
  .header .header__nav ul {
    display: flex;
    gap: 2rem;
  }
  .header .header__nav ul li {
    text-transform: uppercase;
    letter-spacing: 2.36px;
    padding: 2rem 0;
    transition: border-color 0.4s ease;
    border-bottom: 1px solid transparent;
  }
  .header .header__nav ul li:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
  .header .header__nav ul li[data-active] {
    border-color: white;
  }
  .header .header__nav ul li .number {
    display: none;
  }
  .header .nav-button {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 2.5rem 0 0 3.4375rem;
  }
  .header .header__nav {
    backdrop-filter: blur(40.7742px);
  }
  .header .header__nav ul li .number {
    display: inline;
    color: var(--clr-white);
  }
}/*# sourceMappingURL=style.css.map */