.container {
  width: 100%;
  min-width: 23rem;
  max-width: 40rem;
  padding: 1.4rem;
  margin: 0 auto;
  background: $white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0;

    h2 {
      font-size: 1.2rem;
      font-weight: bold;

      .counter {
        background-color: $neutral-300;
        color: $white;
        padding: 0.04rem 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        margin-left: 0.4rem;
      }
    }

    > span {
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  main {
    margin-top: 1.4rem;

    .notification {
      position: relative;
      display: flex;
      gap: 2rem;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      align-items: center;

      &.unread {
        background-color: $neutral-50;

        .content::after {
          content: "";
          display: block;
          position: absolute;
          width: 8px;
          height: 8px;
          background: $primary-red;

          right: -.7rem;
          top: 0.3rem;
          border-radius: 50%;
        }
      }

      .content {
        position: relative;
        display: flex;
        flex-direction: column;
        color: $neutral-250;

        p {
          .username {
            font-weight: 700;
            color: $neutral-300;
            opacity: 0.8;
            cursor: pointer;
            transition: opacity 0.3s;

            &:hover {
              opacity: 1;
            }
          }

          .event {
            font-weight: bold;
            transition: opacity 0.3s;
            cursor: pointer;

            opacity: 0.8;

            &:hover {
              opacity: 1;
            }
          }
        }

        .time {
          font-size: 12px;
          margin-top: 0.3rem;
          color: $neutral-200;
        }
      }

      img {
        width: 50px;
        height: 50px;
        display: block;
        object-fit: cover;
      }

      & + .notification {
        margin-top: 8px;
      }
    }
  }
}
