@font-face {
  font-family: "Jakarta Medium";
  font-weight: 500;
  src: url(../assets/fonts/static/PlusJakartaSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Jakarta Bolder";
  font-weight: 800;
  src: url(../assets/fonts/static/PlusJakartaSans-ExtraBold.ttf)
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jakarta Medium";
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: $neutral-50;
  font-size: 14px;
}
