$primary-red: #f65351; 
$primary-blue: #0a317b;
$white: #ffffff;
$neutral-50: #f7fafd;
$neutral-100: #e5effa;
$neutral-150: #dde7ee;
$neutral-200: #939dae;
$neutral-250: #5e6778;
$neutral-300: #1c202b;
